<h1>Users#index</h1>
<p>Test for how many users, currently only <%= @users.length %> signed_up</p>
<ul>
<% @articles.each do |a| %>
	<li><%= a.title %></li>
	<li><%= a.content %></li>
	<% end %>
</ul>
